* {
    font-family: Arial;
}

nav {
    width: 100%;
    height: 100px;
    color: rgb(255, 255, 255);    
}

lnav{
    background-color: #2C2F33;
    width: 70%;
    height: 100px;
    float: left;    
}

rnav{
    background-color: #2C2F33;
    width: 30%;
    height: 100px;
    float: right;    
}

main {
    background-color: rgb(99, 99, 99);
    width: 100%;
    height: 745px;
    color: rgb(255, 255, 255);   
}

.logbutt{
    background-color: #7289DA;
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 250ms;
    cursor: pointer;
    top: 30%;
    left: 40%;
    width: auto;
    height: auto;
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    position: absolute;
}

.logbutt:hover{
    background-color: #4f5f9b;
}

footer {
    padding-top: 40px;
    background-color: #2C2F33;
    width: 100%;
    height: 60px;
    color: rgb(255, 255, 255);   
    text-align: center;
}